<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Detalji</th>
        </tr>
    </thead>
    <tbody class="list"
    cdkDropList
    #dir1List="cdkDropList"
    [cdkDropListData]="dir1"
    [cdkDropListConnectedTo]="[dir2List]"
    (cdkDropListDropped)="onDrop($event)">
        <tr *ngFor="let gal of dir1; index as i" cdkDrag>
            <td>
                {{gal.id}}
            </td>
            <td>
                {{gal.name}}
            </td>
            <td>
                {{gal.type}}
            </td>
            <td>
                <button type="button" (click)="galleryDetails(gal)" class="btn btn-warning">Detials</button>
            </td>
            <!-- <td>
                <button type="button" (click)="deleteStudent(student.id)" class="btn btn-danger">Delete</button>
            </td> -->
        </tr>
    </tbody>
    <!-- <a href="">Link to something</a> -->
</table>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Detalji</th>
        </tr>
    </thead>
    <tbody
    class="list"
    cdkDropList
    #dir2List="cdkDropList"
    [cdkDropListData]="dir2"
    [cdkDropListConnectedTo]="[dir1List]"
    (cdkDropListDropped)="onDrop($event)">
        <tr *ngFor="let gal of dir2; index as i" cdkDrag>
            <td>
                {{gal.id}}
            </td>
            <td>
                {{gal.name}}
            </td>
            <td>
                {{gal.type}}
            </td>
            <td>
                <button type="button" (click)="galleryDetails(gal)" class="btn btn-warning">Detials</button>
            </td>
            <!-- <td>
                <button type="button" (click)="deleteStudent(student.id)" class="btn btn-danger">Delete</button>
            </td> -->
        </tr>
    </tbody>
    <!-- <a href="">Link to something</a> -->
</table>



<div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select [(ngModel)]="selectedGallery" class="form-control" id="exampleFormControlSelect1">
      <option *ngFor="let gale of galleries" [ngValue]="gallery">{{gallery.name}}</option>
    </select>
  </div>
  <button (click)="logObject()" class="btn btn-secondary" type="button" id="submit" data-toggle="" aria-haspopup="true" aria-expanded="false">
    log it
  </button>
<form>
    <div class="form-group">
      <label for="id">ID</label>
      <input [ngModelOptions]="{standalone: true}" [(ngModel)]="gallery.id" type="text" class="form-control" id="id" aria-describedby="id" placeholder="Enter id">
    </div>
    <div class="form-group">
      <label for="Name">Name</label>
      <input [ngModelOptions]="{standalone: true}" [(ngModel)]="gallery.name" type="text" class="form-control" id="name" placeholder="Enter name">
    </div>
    <div class="form-group">
        <label for="LastName">type</label>
        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="gallery.type" type="text" class="form-control" id="type" placeholder="Enter type">
      </div>
      <div class="form-group">
        <label for="desc">Directory</label>
        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="gallery.directory" type="text" class="form-control" id="directory" placeholder="Enter directory">
      </div>
      <div class="form-group">
        <label for="size">Size</label>
        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="gallery.size" type="number" class="form-control" id="size" placeholder="Enter size">
      </div>

    <button type="submit" (click)="addGallery()" class="btn btn-primary">Submit</button>
</form>