
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Detalji</th>
        </tr>
    </thead>
    <tbody class="list"
    cdkDropList
    #dir1List="cdkDropList"
    [cdkDropListData]="dir1"
    [cdkDropListConnectedTo]="[dir2List]"
    (cdkDropListDropped)="onDrop($event)">
        <tr *ngFor="let gal of dir1; index as i" cdkDrag>
            <td>
                {{gal.id}}
            </td>
            <td>
                {{gal.name}}
            </td>
            <td>
                {{gal.type}}
            </td>
            <td>
                <button type="button" (click)="galleryDetails(gal)" class="btn btn-warning">Detials</button>
            </td>
            <!-- <td>
                <button type="button" (click)="deleteStudent(student.id)" class="btn btn-danger">Delete</button>
            </td> -->
        </tr>
    </tbody>
    <!-- <a href="">Link to something</a> -->
</table>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Detalji</th>
        </tr>
    </thead>
    <tbody
    class="list"
    cdkDropList
    #dir2List="cdkDropList"
    [cdkDropListData]="dir2"
    [cdkDropListConnectedTo]="[dir1List]"
    (cdkDropListDropped)="onDrop($event)">
        <tr *ngFor="let gal of dir2; index as i" cdkDrag>
            <td>
                {{gal.id}}
            </td>
            <td>
                {{gal.name}}
            </td>
            <td>
                {{gal.type}}
            </td>
            <td>
                <button type="button" (click)="galleryDetails(gal)" class="btn btn-warning">Detials</button>
            </td>
            <!-- <td>
                <button type="button" (click)="deleteStudent(student.id)" class="btn btn-danger">Delete</button>
            </td> -->
        </tr>
    </tbody>
    <!-- <a href="">Link to something</a> -->
</table>