<router-outlet></router-outlet>
<a href="http://localhost:4200/users"> Users </a>
<a href="http://localhost:4200/login"> Login </a>
<a href="http://localhost:4200/registration"> Registration </a>
<a href="http://localhost:4200/gallery"> Gallery </a>
<a href="http://localhost:4200/gallery/advanced"> Gallery CRUD</a>