<form (submit)="login()">
    <input [ngModelOptions]="{standalone: true}" [(ngModel)]="username" type="text" class="form-control" id="username" aria-describedby="username" placeholder="Enter username">
    <input [ngModelOptions]="{standalone: true}" [(ngModel)]="password" type="text" class="form-control" id="password" aria-describedby="password" placeholder="Enter password">
</form>
<button (click)="login()">login</button>