<form (submit)="register()">
    <input [ngModelOptions]="{standalone: true}" [(ngModel)]="id" type="number" class="form-control" id="id" aria-describedby="id" placeholder="Enter id">
    <input [ngModelOptions]="{standalone: true}" [(ngModel)]="username" type="text" class="form-control" id="username" aria-describedby="username" placeholder="Enter username">
    <input [ngModelOptions]="{standalone: true}" [(ngModel)]="password" type="password" class="form-control" id="password" aria-describedby="password" placeholder="Enter password">
    <input [ngModelOptions]="{standalone: true}" [(ngModel)]="role" type="text" class="form-control" id="text" aria-describedby="text" placeholder="Enter role">
</form>
<button (click)="register()">register</button>