<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">Detalji</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users; index as i">
            <td>
                {{user.id}}
            </td>
            <td>
                {{user.username}}
            </td>
            <td>
                <button type="button" (click)="userDetails(user)" class="btn btn-warning">Detials</button>
            </td>
            
        </tr>
    </tbody>
    <!-- <a href="">Link to something</a> -->
</table>